*,
*::after,
*::before {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #000;

    background-color: azure;

    overflow: hidden;

    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea{
    font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p,
i {
    margin: 0;
    padding: 0;
}

a {
    display: block;
    text-decoration: none;
    color: black;
}

img {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0px 15px;
    position: relative;
}

// Header
header {
    margin: 30px 0;
}

.nav {
    display: flex;
    position: relative;

    &__link {
        padding-left: 70px;
    }

    &__link:first-child {
        padding-left: 0;
    }

    &__link:last-child::after {
        content: "";
        position: absolute;
        width: 2px;
        height: 40px;
        background-color: #000;
        top: -10px;
        left: 70px;
        z-index: 1;
    }

    & > button{
        display: block;
        border: hidden;
        background-color: inherit;
        font-size: 14px;
        font-weight: 700;

        cursor: pointer;
    }

}

//Main
main {
    margin: 20px 0;
    position: relative;
}

.main__inner {
    display: flex;
    border: 2px #000 solid
}

.shops__inner {
    margin-right: 50px;
}

.shops__items {
    display: flex;
    flex-direction: column;
    border: 2px #000 solid;
    padding: 20px 50px;

}

.title {
    text-align: center;

}

.btn__item {
    padding: 20px 30px;
    margin: 5px 0;

}

.shop__content {
    height: 500px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 2px #000 solid;
    padding: 10px;
    margin: 0 auto;
    overflow: scroll;
}

.product {
    display: flex;
    margin: 20px 30px;
    border: 2px aqua solid;

    &.hide{
        display: none;
    }
}




.product__inner {
    padding: 10px;
}

.product__main{
    display: flex;
    justify-content: space-between;
}

.btn{
    float: right;
    margin: 10px 0;
}
// Shop END


// Modal

.modal {
    display: none;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.7);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    &.show{
        display: flex;
    }
}

.modal__close{
    border: none;
    background-color: inherit;
    position: absolute;
    top: -26px;
    right: -26px;

    & > i{
        width: 25px;
        height: 25px;
    }
}

.modal__cart {
    width: 100%;
    max-width: 1190px;

    margin: auto;
    padding: 32px;

    background-color: #fff;
}

.modal__inner {
    display: flex;
    justify-content: space-between;
}

.modal__item {
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 350px;
    border: #000 1px solid;

    &>label,
    input {
        display: block;
        margin: 0 10px;
    }

    &>label {
        padding: 15px 0;
    }

    &>input:last-child {
        margin-bottom: 10px;
    }

}

.modal__item.item-1 {
    overflow: hidden;
}

.modal__item.item-2 {
    overflow: scroll;
}

.product.modal-product {
    margin: 10px;
}

.product__inner.modal-inner {
    display: flex;
}

.product__right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin: 0 auto;

    &>h5 {
        font-size: 16px;
        margin: 5px 0;
    }
}

.product__counter {
    display: flex;
    margin: 5px;

    border: 1px #DB2B2B solid;
    border-radius: 10px;

    &>.product__control {
        margin: 0 10px;
        cursor: pointer;
    }

    &>.product__current {
        margin: 0 5px;
        cursor: pointer;
    }
}

.item__remove {
    border:  red 1px dotted;
    border-radius: 10px 0 0 10px;
    background-color: #DB2B2B;
    cursor: pointer;
    margin-right: 5px;

    & > h5{
        color: #fff;
        writing-mode: vertical-lr;
        text-orientation: upright;
    }
}

.modal__footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    margin-top: 20px;

    &>.total {
        margin-right: 50px;
        font-size: 18px;
    }

    &>button {
        width: 140px;
        height: 30px;
    }
}